* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
}


body {
    background-color: #181818;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

#div-box,
#results {
    background-color: #2a2a2a;
    display: flex;
    padding: 1.0rem;
}

input {
    background-color: #3f3f3f;
    border-radius: 8px;
    padding: 4px;
    border: none;
    width: 300px;
    color: white;
}

#plus-icon {
    width: 20px;
    height: 20px;
    margin: 0px 5px;
    border-radius: 8px;
    border: none;
}

button {
    background-color: #3f3f3f;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 20px;
    border: none;
}

p {
    color: white;
}

#results, .task {
    display: flex;
}

#verify {
    width: 20px;
    height: 20px;
}

#trash {
    width: 20px;
    height: 20px;
}

.hidden {
    display: none;
}

#verify img{
    width: 20px;
    height: 20px;
}


#trash img {
    width: 20px;
    height: 20px;
}